/* colors:
orange: #EC971F
white: #F3F3F3
black: #303841
vintage: #E8E4B8
vintageblk: #34495B
vintageshadow: #EA7361


*/
html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    background-color: #F3F3F3;
    color: #303841;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.ibor {
    border: 3px solid #303841;
}

#linegraphx svg, #top5chart svg {
    overflow: visible;
}

header {
    position: fixed;
    top:0%;
    height: 100px;
    background-color:#F3F3F3;
    z-index: 2;
    overflow-y: hidden;
}

header img {
    height: 200px;
    position: absolute;
    top: -45px;
    left: -140px;
}

/* main {
    margin-top: 100px;
} */

.red {
    color:red;
    margin: 0 0 0 5px;
}

.green {
    color:lime;
    margin: 0 0 0 5px;
}

#overview {
    background-color: white;
}

#datedisplay {
    font-weight: 800;
    font-size: 20px;
    text-align: center;
}

.mycard {
    text-align: center;
}

.mycard #ctoday, .mycard #rtoday, .mycard #dtoday {
    font-size: 22px;
    color: #303841;
    font-weight: 800;
}

.fa-head-side-cough, .fa-smile, .fa-skull-crossbones {
    font-size: 30px;
}

#linegraphx svg, #top5chart svg {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    margin-left: 20px;
}

