/* colors:
orange: #F2471F
white: #F3F3F3
black: #303841
lblack: #313546
grey: #e3e3e3
green: #01D1B3
newgreen: #049090
red: #EC4E6D
wine: #82124A
brown: #916953
pink: #fcb5b5
apricot: #ffcdbc
lightbrown: #cf8e80
vintage: #E8E4B8
vintageblk: #34495B
vintageshadow: #EA7361
background: linear-gradient(90deg, rgba(233,154,47,1) 0%, rgba(235,148,30,1) 50%, rgba(227,131,0,1) 100%); 


font-family: 'Yantramanav', sans-serif;
font-family: 'Catamaran', sans-serif;
font-family: 'Heebo', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Noto Sans SC', sans-serif;

*/
html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans SC', sans-serif;
    color: #F3F3F3;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto !important;
}

body{
    margin: 0;
    background: linear-gradient(90deg, rgba(15,16,18,1) 0%, rgba(37,43,50,1) 49%, rgba(51,51,51,1) 100%);
}

/* mymodal */
#mymodal {
    z-index: 1000000;
    color:#303841;
    font-family:'Noto Sans SC', sans-serif;
}

#mymodal h5 {
    font-family: 'Yantramanav', sans-serif;
}


/* main */
.gbor {
    border: 3px solid gold;
}

.red {
    color:#EC4E6D;
    margin: 0 0 0 5px;
}

.green {
    color:#01D1B3;
    margin: 0 0 0 5px;
}

.green, .red {
    animation-name: bounce;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-duration: 0.7s;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(0);
    }
}

#linegraphc svg, #top5chart svg, #linegraphr svg, #linegraphd svg {
    overflow: visible;
}


/* search button */
button:focus {
    outline:none;
}

.fa-times-circle {
    display: none;
}

#searchbtn {
    left:20px;
    top:20px;
    color: #303841;
    transition: background-color ease-in 0.4s, color ease-in 0.4s;
    z-index: 99999;
}

#selectbg {
    left:20px;
    top:20px;
    transform: scale(1);
    transition:transform ease-in 0.6s;
    z-index: 99998;
}

#globalbtn {
    left:70px;
    top:20px;
    color: #303841;
    transition: background-color ease-in 0.4s, color ease-in 0.4s;
    z-index: 100000;
}


#globalbg, #listbg {
    left:70px;
    top:20px;
    transform: scale(1);
    transition:transform ease-in 0.6s;
    z-index: 99998;
}

#listbg {
    left: 120px;
}

#detailsbtn, #listbtn {
    display:none;
    left:170px;
    top:20px;
    color: #303841;
    text-transform: uppercase;
    transition: background-color ease-in 0.4s, color ease-in 0.4s;
    z-index: 9999;
}

#searchbtn, #globalbtn, #selectbg, #globalbg, #listbg, #detailsbtn, #listbtn {
    position: fixed;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #F3F3F3;
    border: none;
    font-size: 16px;
    padding: 3px 5px;
}

#listbtn {
    left:120px;
    display: block;
    z-index: 99999;
}

/* global list */
#globalstats,#globallist {
    display:none;
    width: 600px;
    height: 550px;
    background-color: none;
    position: absolute;
    left: 45%;
    top:0px;
    transform: translateX(-50%);
    font-size: 16px;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 500;
    color: #303841;
    padding: 10px;
    z-index: 99999;
}

#globallist {
    overflow-y: hidden;
    margin: 100px auto;
    transform: none;
    left: 120px;
    height: 400px;
    width: 80%;
}

#globallist1 {
    overflow-y: scroll;
}

#b2top {
    color: #303841;
    font-size: 28px;
    position: fixed !important;
    top:400px;
    left: 80%;
    z-index: 99999;
}

.listheader {
    font-weight: 900;
    margin: 10px 0 0 0;
}

#globallist img, #flagdisplay2 img {
    height: 60px;
    width: 100px;
}

#totalc, #totalr, #totald {
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    margin-top: -15px;
}

#worldCIncrease, #worldRIncrease, #worldDIncrease {
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    margin-top: -15px;
}

#wscontainer {
    height: 400px;
    width: 330px;
}

.donutheader {
    font-size: 18px;
    font-weight: 700;
}

/* search bar */
#searchbar {
    display:none;
    width: 350px;
    height: 150px;
    background-color: none;
    position:fixed;
    border-radius: 10px;
    top:200px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 500;
    color: #303841;
    padding: 10px;
    z-index: 99999;
}

#searchbar i {
    font-size: 20px;
    text-align: center;
    margin: 5px;
}

#searchbar div {
    margin: 5px auto;
}

#searchbar button {
    border: none;
    border-radius: 5px;
    background-color: gold;
    padding: 5px;
    
}

#searchbar select {
    border-radius: 5px;
    padding: 5px;
    border: none;
    font-family: 'Noto Sans SC', sans-serif;
}



/* header */
header h1{
    font-family:'Heebo', sans-serif;
    font-weight: 800;
    margin: 10px auto;
    text-align: center;
    color: #F3F3F3;
}

header h6{
    padding: 10px 5px;
    font-family: 'Yantramanav', sans-serif;
    text-align: center;
    margin: -25px 0 0 10px;
    color: #F3F3F3;
}

.fa-virus {
    animation-name: rotate;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* map */
#map {
    width: 100%;
    height: 550px;
    box-shadow: 5px 20px 20px 0 rgba(0,0,0,0.4);
}

#map1 {
    height: 100%;
    border-radius: 10px;
}

.leaflet-popup-content-wrapper {
    width: 450px !important;
    height: 250px !important;
    overflow-x: hidden;
    background-color: #303841 !important;
}

/* details panel */
#panel {
    overflow: hidden;
    height: 550px;
    width: 380px;
    border: 1px rgba(0,0,0,0.4) solid;
    z-index: 93;
    background-color: #303841;
    box-shadow: 5px 20px 20px 0 rgba(0,0,0,0.4);
    border-radius: 10px;
}

#flagdisplay {
    height: 60px;
    width: 100px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 15px 0px 0px 15px;
}

#countrydisplay {
    font-family: 'Yantramanav', sans-serif;
    text-transform: capitalize;
    font-size: 22px;
    margin: 15px 0px 0px 15px;
}

#datedisplay {
    font-family: 'Yantramanav', sans-serif;
    text-align: center;
    margin: 15px 0 -20px 0;
    font-size: 20px;
}

/* carousel */
#donutcontainer {
    max-height: 280px;
    max-width: 280px;
}

#carouselcontainer {
    height: 450px;
    max-width: 500px;
    padding: 10px 30px;
    font-size: 18px;
    color: #303841;
    font-family: 'Noto Sans SC', sans-serif;
}

#nmnxt, #nmprev {
    color: #F3F3F3;
    background-color: #303841;
    transition: background-color ease-in 0.4s, color ease-in 0.4s;
    border: 1px solid rgba(255,255,255,1);
    position: absolute;
    bottom: 50%;
    border-radius: 10px;
    box-shadow:3px 5px 3px 0 rgba(0,0,0,0.35);
}

#nmnxt:hover, #nmprev:hover {
    background-color: #F3F3F3;
    color:#303841;
}

#nmnxt {
    right: 20px;
}

#nmprev {
    left: 20px;
}


/* The dots/bullets/indicators */
#carouselcontainer {
    color: #F3F3F3;
}

#icontainer{
    position: absolute;
    bottom:20px;
    left: 50%;
    transform: translateX(-50%);
}

.cindicator {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.4s ease;
  }
  

#carouselcontainer i {
    cursor: pointer;
    font-size: 20px;
    margin: 5px;
}

#carouselcontainer p {
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

#cccontainer {
    width: 310px;
    margin: 0 0 0px 15px;
}

#linegraphc .line {
    fill:none;
    stroke: #F2471F;
    stroke-width: 3px;
}

#linegraphr .line {
    fill:none;
    stroke: #049090;
    stroke-width: 3px;
}

#linegraphd .line {
    fill:none;
    stroke: #82124A;
    stroke-width: 3px;
    }

.dot {
    fill:#F3F3F3;
    stroke:#F3F3F3;
    fill-opacity: 1;
    stroke-opacity: 1;
}

.dc-chart .axis path, .dc-chart .axis line {
    stroke: #F3F3F3 !important;
}


/* overview */
#popup {
    font-family: 'Noto Sans SC', sans-serif;
    padding: 0 0 0 -10px;
    width: 410px;
    border-radius: 10px;
    color:#F3F3F3;
}

#countryOnMap {
    font-size: 22px;
    font-family:'Yantramanav', sans-serif;
}


#overview p {
    margin: -10px 0 0 0;
    font-size: 16px;
}

#overview .container-fluid{
    padding: 0px;
}

#totalconfirmed, #totalrecovered, #totaldeaths {
    font-size: 18px;
    font-weight: 900;
    font-family: 'Yantramanav', sans-serif;
}

#ctoday, #rtoday, #dtoday {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Yantramanav', sans-serif;
}

/* tablets */
@media (min-width:767.6px) and (max-width:992px) {
    .leaflet-popup-content-wrapper {
        width: 320px !important;
        height: 200px;
        overflow-x: hidden;
    }

    #popup {
        width: 310px;
    }
}


/* phones */
@media (max-width:767.5px) {
    #searchbar {
        text-align: center;
        width: 100vw;
    }

    .leaflet-popup-content-wrapper {
        width: 330px !important;
        height: 200px;
        overflow-y: scroll;
        overflow-x: hidden;
        text-align: center !important;
        background-color: #303841 !important;
    }

    .leaflet-popup-content {
        text-align: center !important;
        margin: 0 auto !important;
        display: flex;
    }

    #popup {
        margin: 15px auto !important;
        padding: 10px;
        width: 200px;
        border-radius: 10px;
        text-align: center;
    }

    .leaflet-top {
        top:75% !important
    }
        
    #searchbtn, #selectbg, #globalbtn, #globalbg, #detailsbtn, #listbtn, #listbg {
        top:80px;
    }

    #detailsbtn {
        display: block;
    }

    #globalstats,#globallist {
        top:75px;
        left:0px;
        width: 350px;
        height: 100%;
        transform: none;
    }

    #globallist {
        width: 90%;
        left: 5%;
    }

    #b2top {
        top:450px;
        left: 80%;
        
    }

    #wscontainer {
        width: 300px;
    }

    #map {
        margin: 50px 0 0 0;
        max-height: 450px;
        box-shadow: 5px 20px 20px 0 rgba(0,0,0,0.4);
    }

    #map1 {
        height: 100%;
        border-radius: 10px;
    }

    #panel {
        display: none;
        position: fixed;
        top:110px;
        overflow: hidden;
        height: 480px;
        width: 95vw;
        border: 1px rgba(0,0,0,0.4) solid;
        z-index: 99997;
        background-color: #303841;
        box-shadow: 5px 20px 20px 0 rgba(0,0,0,0.4);
        border-radius: 10px;
        margin: 20px 0 0 0;
    }

    #icontainer{
        bottom:80px;
    }

        
    /* country name date */
    #flagdisplay {
        height: 48px;
        width: 80px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 15px 0px 0px 15px;
    }

    #countrydisplay {
        font-family: 'Catamaran', sans-serif;
        text-transform: uppercase;
        font-size: 18px;
        margin: 15px 0px 0px 15px;
    }

    #datedisplay {
        font-family: 'Noto Sans SC', sans-serif;
        text-align: center;
        margin: 15px 0 -20px 0;
        font-size: 16px;
    }

    /* carouselmobile */

    #carouselcontainer p {
        font-family: 'Noto Sans SC', sans-serif;
        font-weight: 700;
        font-size: 16px;
    }

    #cccontainer {
        width: 250px;
        margin: 0 0 0px 0px;
    }
}
