body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.ibor {
    border: 3px solid indigo;
}

#linegraphx svg {
    overflow: visible;
}

/* #linegraphx .y {
   transform: translate(60px, 10px);
}

#linegraphx .x {
    transform: translate(60px, 258px);
 } */